/*

IF YOU'RE NOT FAMILIAR WITH CSS

If you aren't familiar/comfortable with CSS, then I'd highly suggest checking out https://www.w3schools.com/css/default.asp
I use their database of information on a regular bases, and it can help you get the exact look you want on this

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0;
    margin: 0;
    color: white;
    /*
    font-size: 10px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    */
    font-size: 18px;
    font-family: Brandon Grotesque, Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}

#cs {
    width: 100%;
    /*padding: 0.5em 0;*/
    font-size: 5em;
    line-height: 1.6em;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    text-shadow: 3px 3px 4px black;
    background-color: rgba(0, 0, 0, 0.6);
}
